body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
	font-size: 30px;
	padding: 20px;
}
h2 {  
  	width: 300px;
    border: 0;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
}
h3 {
	width: 300px;
    border: 0;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    text-align: center;

}
input {
	width: 400px;


}
select {
	width: 400px;


}
.button {
	margin-top: 24px;


}


p {
    background-color: #E8E8E8 ;
}

.imgBackground{
	background-image: url(solarsystem.jpg);
}